*
    padding 0px
    margin 0px
colorBg = #fff
colorBg2 = hsl(209, 100%, 9%)
colorP = #96d2de
colorN = #000

body
    height 100vh
    background-color colorBg
    width 100%
    font-family: 'Avenir-regular'

nav
    background-color #343a40
    .navbar-brand
        display flex !important
        img
            width 70px
    a
        color #fff

.cont__
    max-width 100% !important
    padding 0
.Logo
    font-size calc(0.9rem + 0.9vw)
    margin-bottom 0
    margin-left 10px
    align-content center
    color #96d2de
    text-transform uppercase
.dropdown-menu
    left 85% !important
.pt-6
    padding-top calc(5.5% + 1vh)
#cookies
    z-index 999
    height 35%
    position fixed
    margin auto
    top calc(50% - -13%)
    left calc(50% - 26%)
    border-radius 15px
    background-color #000000 !important
    align-content center
    text-align center
    text-decoration none
    max-width 75%
    display grid
    padding 15px
#cookies p
    width 100%
    font-size calc(0.4rem + 0.25vw)
    text-decoration none
    color #fff
#cookies h4
    color #fff
    text-decoration none
.cookies-poli
    color #fff
    font-family "Avenir"
.cookie-consent__agree
    border-radius 5px
    color #5d6277
    text-decoration none
.dropdownhover .dropdown-menu
    transition 0.5s
    border-radius 0 3px 3px 0
    border 0
    left 100%
    display block
    top 1%
    min-width 8rem
.dropdown-menu a
    color #707791
.dropdown-menu lihover
    background #707791
.pnav
    font-family "Avenir" !important
    font-size calc(0.9rem + 0.4vw)
    color #9C9FA6
.dropdown-menu ahover
    font-family "Montserrat-Bold"
    color #fff
.dropdown-menu
    font-size 0.8rem !important
.dropdownhover .dropdown-menu-user
    transition 0.5s
    border-radius 0 3px 3px 0
    border 0
    left 0%
    display block
    top 90%
    min-width 8rem
.dropdown-menu-user a
    color #707791
.dropdown-menu-user lihover
    background #707791
    color #fff
.dropdown-menu-user lihover .us
    font-family "Montserrat-Bold"
    color #fff !important
.dropdown-menu-user
    font-size 0.8rem !important
#carouselExampleIndicators
    background-color colorBg2
    height: 86vh
.video-wrap
    text-align center
.video
    iframe
        max-width 100%
        max-height 100%
.ImdDetails
    width 60%
#PDetails
    width 40%
.PGallery
    width 70%
.ContenedorGallery
    padding 0
    height 59%
.Pgallery
    p
        width 70%
        font-size calc( 0.5rem + 1vw)
        text-align justify
.Pjustify
    padding 2px 155px
    p
        text-align center
        margin 0
.contactoP
    p
        display inline-block
.link-acc
    display grid
    height 100%
    justify-content center
    align-content center
    color #fff
#Image_PC
    display block
#Image_Mobile
    display none
#Home
    .titl_v
        color colorP
        font-family "Acumin"
        width 100%
        text-align center
        font-size calc(3.5rem + .5vw)
#Just
    max-width 100% !important
    .title_j
        color colorN
        font-family "Acumin"
        width 100%
        text-align center
        font-size calc(3.5rem + .5vw)
#Img_just
    padding 0
    height 650px !important
    width 100%
    background-size 100% 100%
    background-position center
    background-repeat no-repeat
    h1
        padding-right 52%
        color #fff
        width 100%
        position absolute
        bottom 0
        background-color rgba(15,33,47,0.5)
        margin 0
.navbar-toggler
    color #fff
.carousel-control-next
    opacity 0 !important
.carousel-control-prev
    opacity 0 !important
.cont-card-event
    padding 4%
    border-radius 8px
    box-shadow 2px 4px 16px 0px rgb(0 0 0 / 25%)

@media (max-width 990px)
    body
        background-color colorBg
    .pt-6
        padding-top 0%
    #cookies
        height 27%
        top calc(50% - -20%)
        left calc(50% - 36%)
    .ImdDetails
        width 100%
    #PDetails
        width 70%
    .PGallery
        margin-bottom 25px
        width 95%
    .Pjustify
        padding 2px 55px
    #Image_PC
        display none
    #Image_Mobile
        display block
    #Img_just
        background-size: auto 100%
        h1
            padding-right 0% !important
    .cont__
        min-height 68%
